.container {
    display: flex;
    justify-content: center;
}


.progress {
    height: 12px;
    color: red;
    border: 1px solid yellow;
}

.progress-text{
    position: relative;
    top: 3px;
}


.container-warrior {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    }


.heavy_swing {
    margin-right: 5px;
}

.heavy_swing button{
    padding: 0;
    margin: 0;
}

.heavy_swing button img {
    display: block;
    width: 50px;
    height: 50px;
}

.maim button {
    padding: 0;
    margin: 0;

}

.maim button img {
    display: block;
    width: 50px;
    height: 50px;

}

/* STORM'S PATH */
.storms_path {
}

.storms_path button {
    padding: 0;
    margin: 0;
}

.storms_path button img {
    display: block;
    width: 50px;
    height: 50px;
}

/* STORM'S EYE */
.storms_eye {
}

.storms_eye button {
    padding: 0px;
    margin: 0px;
}

.storms_eye button img  {
    display: block;
    width: 50px;
    height: 50px;
}
/* FELL CLEAVE */
.fell_cleave {

}

.fell_cleave button {
    padding: 0;
    margin: 0;
}

.fell_cleave button img {
    display: block;
    width: 50px;
    height: 50px;
}


.progress-warrior {
    height: 16px;
    width: 270px;
    color: blue;
    border: 1px solid black;
}

.progress-warrior-text{
    text-align: right;
}