<div class="target" style="margin-left: -175px; margin-top: 12px;">
    <div class="player" style="display: flex; justify-content: start; margin-left: 10px;">
        <img src="{{url_for('static', filename='images/misc/trial_icon.png') }}" width="30px" height="30px"
             style="position: relative; bottom: 2px; right: 1px;">
        <h5>Pandaemonium MF</h5>
    </div>
    <div class="progress" style="height: 14px; width: 290px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 350px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
