<div class="player" style="margin-right: -175px; margin-top: 12px;">
    <div class="player" style="display: flex; justify-content: start">
        <img src="{{url_for('static', filename='images/warrior/warrior_icon.png') }}" width="30px" height="30px"
             style="position: relative; bottom: 2px;">
        <h5>Chad Warrior</h5>
    </div>
    <div class="progress" style="height: 14px; width: 290px;">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>

    <div class="buffs" style="display: flex; flex-direction:row-reverse; margin-top: 3px;">
        <div class="buffs">
            {% if warrior.nascent_chaos_ready %}
            <img class="buff-image" src="{{ url_for('static', filename='images/warrior/nascent_chaos.png') }}">
            <p class="buff-text">
                {{ warrior.nascent_chaos_duration }}
            </p>
            {% endif %}
        </div>

        <div class="buffs">
            {% if warrior.primal_rend_ready %}
            <img class="buff-image" src="{{ url_for('static', filename='images/warrior/primal_rend.png') }}">
            <p class="buff-text">
                {{ warrior.primal_rend_duration }}
            </p>
            {% endif %}
        </div>

        <div class="buffs">
            {% if warrior.surging_tempest %}
            <img class="buff-image" src="{{ url_for('static', filename='images/warrior/storms_eye.png') }}">
            <p class="buff-text">
                {{ warrior.surging_tempest }}
            </p>
            {% endif %}
        </div>

        <div class="buffs">
            {% if warrior.inner_release_buff > 0 %}
            <img class="buff-image" src="{{ url_for('static', filename='images/warrior/inner_release.png') }}">
            <p class="buff-text">
                {{ warrior.inner_release_buff }}
            </p>
            {% endif %}
        </div>

        <div class="buffs">
            {% if warrior.inner_release_stacks > 0 %}
            <img class="buff-image" src="{{ url_for('static', filename='images/warrior/inner_release.png') }}">
            <p class="buff-text">
                {{ warrior.inner_release_stacks }}
            </p>
            {% endif %}
        </div>
    </div>
</div>
