<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %} {% endblock %}

    </title>

    {% block styles %}
    {{ bootstrap.load_css() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <script
        src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
        crossorigin="anonymous">
    </script>
    {% endblock %}
</head>
<body>
{% block navigation %}
<a href="{{url_for('index') }}" style="text-decoration: none;">Home</a>

<a href="{{url_for('warrior')}}" style="text-decoration: none;">
<img src="{{ url_for('static', filename='images/warrior/warrior_icon.png') }}" style="width: 25px;">
</a>

<a href="{{url_for('gunbreaker')}}" style="text-decoration: none;">
<img src="{{ url_for('static', filename='images/gunbreaker/gunbreaker_icon.png') }}" style="width: 25px;">
</a>

<a href="{{url_for('paladin')}}" style="text-decoration: none;">
<img src="{{ url_for('static', filename='images/paladin/paladin_icon.png') }}" style="width: 25px;">
</a>

<a href="{{url_for('dark_knight')}}" style="text-decoration: none;">
<img src="{{ url_for('static', filename='images/dark_knight/dark_knight_icon.png') }}" style="width: 25px;">
</a>
<hr>
{% endblock %}
{% block content %}

{% endblock %}

{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>