<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{url_for('reaper_slice')}}" method="POST">
        <button>
            <img src="static/images/slice.png">
        </button>
    </form>
    <form action="{{url_for('reaper_waxing') }}" method="POST">
        <button type="submit">
            <img src="{{url_for('static', filename='images/waxing.png') }}">
        </button>
    </form>
    <form method="POST" action="/infernal_slice">
        <button type="submit">Infernal Slice</button>
    </form>
    <form method="POST" action="/gallows">
        <button type="submit">Gallows</button>
    </form>
<label for="gauge">Gauge {{gauge}}</label>
<progress id="gauge" value="{{ gauge }}" max="100"></progress>

</body>
</html>