<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/slice">
        <button type="submit">Slice</button>
    </form>
    <form method="POST" action="/waxing_slice">
        <button type="submit">Waxing Slice</button>
    </form>
    <form method="POST" action="/infernal_slice">
        <button type="submit">Infernal Slice</button>
    </form>
    <form method="POST" action="/gallows">
        <button type="submit">Gallows</button>
    </form>
</body>
</html>