{% extends 'base.html' %}

{% block title %}
Warrior
{% endblock %}

{% block content %}

<!-- COMBO ARROWS -->
<!-- COMBO ARROWS -->
<div class="arrows" style="width: 18%; margin: auto;">
  <div class="container" style="display: flex; justify-content: space-between;">

    {% if combo == 0 %}
    <span class="first" style="position: relative; left: 6.5%">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% else %}
    <span class="first" style="position: relative; left: 6.5%; color: white;">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% endif %}

    {% if combo == 1 %}
    <span class="second" style="position: relative; left: 5%">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% else %}
    <span class="second" style="position: relative; left: 5%; color: white">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% endif %}

    {% if combo == 2 %}
    <span class="third">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% else %}
    <span class="third" style="color: white;">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% endif %}

    {% if combo == 2 %}
    <span class="fourth" style="position: relative; right: 3%">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% else %}
    <span class="fourth" style="position: relative; right: 3%; color: white">
        <i class="fa-solid fa-arrow-down"></i>
    </span>
    {% endif %}

    {% if gauge >= 50 %}
    <span class="fifth" style="position: relative; right: 6.5%;">
        <i class="fa-solid fa-check"></i>
    </span>
    {% else %}
    <span class="fifth" style="position: relative; right: 6.5%; color: white;">
        <i class="fa-solid fa-check"></i>
    </span>
    {% endif %}

  </div>
</div>
<!-- GCD -->
<!-- GCD -->
<!-- GCD -->

<div class="container-warrior">
    <form class="heavy_swing" action="{{url_for('warrior_heavy_swing') }}" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/heavy_swing.png') }}" width="50px">
        </button>
    </form>

    <form class="maim" action="{{url_for('warrior_maim') }}" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/maim.png') }}" width="50px">
        </button>
    </form>

    <form class="storms_eye" action="{{ url_for('warrior_storms_eye') }}" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/storms_eye.png') }}" width="50px">
        </button>
    </form>

    <form class="storms_path" action="{{ url_for('warrior_storms_path') }}" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/storms_path.png') }}" width="50px">
        </button>
    </form>

    {% if not chaos_ready %}
    <form class="fell_cleave" action="{{ url_for('warrior_fell_cleave') }}" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/fell_cleave.png') }}" width="50px">
        </button>
    </form>
    {% else %}
    <form class="fell_cleave" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/inner_chaos.png') }}" width="50px">
        </button>
    </form>
    {% endif %}
</div>
<hr class="container" style="display: flex; width: 270px;">

<!-- SECOND ROW GCD/O-GCD -->
<!-- SECOND ROW GCD/O-GCD -->
<!-- SECOND ROW GCD/O-GCD -->
<div class="container-warrior">
     <form class="inner_release" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/inner_release.png') }}" width="50px">
        </button>
    </form>

     <form class="infuriate" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/infuriate.png') }}" width="50px">
        </button>
    </form>

     <form class="upheaval" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/upheaval.png') }}" width="50px">
        </button>
    </form>

     <form class="primal_rend" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/primal_rend.png') }}" width="50px">
        </button>
    </form>

     <form class="onslaught" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/onslaught.png') }}" width="50px">
        </button>
    </form>

     <form class="inner_chaos" action="#" method="POST">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/warrior/inner_chaos.png') }}" width="50px">
        </button>
    </form>
</div>


<div class="container">
    <div class="gauges">
    <progress class="progress-warrior" id="gauge" value="{{ gauge }}" max="100"></progress>
    <br>
    <label class="progress-warrior-text" for="gauge">Beast {{gauge}}</label>
    </div>
</div>
<br>
</progress>

<!-- SURGING TEMPEST -->
<!-- SURGING TEMPEST -->
<!-- SURGING TEMPEST -->

<div class="container">
    <div class="left">
        <img class="surging-icon" src="{{ url_for('static', filename='images/warrior/storms_eye.png') }}" width="40px" height="40px">
    </div>
    <div class="right">
        {% if tempest != 0 %}
        <label class="surging-warrior-text" for="tempest"> Surging Tempest: {{tempest }} seconds</label>
        {% else %}
        <label class="surging-warrior-text" for="tempest"> Surging Tempest buff duration</label>
        {% endif %}
        <br/>
        <progress class="surging-warrior-progress" id="tempest" value="{{ tempest }}" max="60"></progress>
    </div>

</div>
<hr class="container" style="display: flex; width: 270px;">


<!-- RESET -->
<div class="container">
<div>
    <form action="{{url_for('warrior_reset') }}" method="POST">
        <button type='submit'>
            RESET
        </button>
    </form>
</div>
</div>



{% endblock %}

