{% extends 'base.html' %}

{% block title %} Paladin {% endblock %}

{% block content %}
<div class="first-row">
    <button class="btn btn-outline-dark" id="fight-or-flight">
        <img class="action" src="{{ url_for('static', filename='images/paladin/fight_or_flight.png') }}">
        <span class="pld-cooldown-text" id="fight_or_flight_cooldown"></span>
    </button>

    <button class="btn btn-outline-dark" id="requiescat">
        <img class="action" src="{{ url_for('static', filename='images/paladin/requiescat.png') }}">
        <span class="pld-cooldown-text" id="requiescat_cooldown"></span>
    </button>

    <button class="btn btn-outline-dark" id="circle-of-scorn">
        <img class="action" src="{{ url_for('static', filename='images/paladin/circle_of_scorn.png') }}">
        <span class="pld-cooldown-text" id="circle_of_scorn_cooldown"></span>
    </button>

    <button class="btn btn-outline-dark" id="expiacion">
        <img class="action" src="{{ url_for('static', filename='images/paladin/expiacion.png') }}">
        <span class="pld-cooldown-text" id="expiacion_cooldown"></span>
    </button>

    <button class="btn btn-outline-dark" id="intervene">
        <img class="action" src="{{ url_for('static', filename='images/paladin/intervene.png') }}">
        <span class="pld-cooldown-text" id="intervene_cooldown"></span>
    </button>
</div>

<div>
    <button class="btn btn-outline-dark" id="fast-blade" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/fast_blade.png') }}">
        <span id="combo-fast" class="combo-state"></span>
    </button>

    <button class="btn btn-outline-dark" id="riot-blade" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/riot_blade.png') }}">
        <span id="combo-riot" class="combo-state"></span>
    </button>

    <button class="btn btn-outline-dark" id="royal-authority" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/royal_authority.png') }}">
        <span id="combo-royal" class="combo-state"></span>
    </button>

    <button class="btn btn-outline-dark" id="atonement" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/atonement.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="goring-blade" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/goring_blade.png') }}">
        <span class="pld-cooldown-text" id="goring_blade_cooldown"></span>
    </button>
</div>
<div>
    <button class="btn btn-outline-dark" id="holy-spirit" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/holy_spirit.png') }}">
        <span class="pld-cooldown-text" id="holy_spirit_cooldown"></span>
    </button>

    <button class="btn btn-outline-dark" id="confetior" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/confetior.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="blade-of-faith" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/blade_of_faith.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="blade-of-truth" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/blade_of_truth.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="blade-of-valor" onclick="performAction(this)">
        <img class="action" src="{{ url_for('static', filename='images/paladin/blade_of_valor.png') }}">
    </button>
</div>

<div class="paladin-reset" style="display: flex; ">
    <button class="btn btn-outline-dark" id="paladin-reset">
        Reset!
    </button>
</div>

<div style="display: flex;">
    <div>
        <svg class="progress-circle" style="position: absolute; bottom: 209px; left: 2px;">
            <circle class="progress-ring" cx="25" cy="25" r="18"></circle>
        </svg>
    </div>
    <div id="cooldown-countdown" style="position: absolute; left: 16px; bottom: 325px;">
    </div>
</div>


<div class="info">
    <p id="combo-state"></p>
</div>

<script>
    let pldGcd = {{ pld.gcd }}
    let pldCombo = {{ pld.combo }}

    let atonementStacks = {{ pld.atonement_stacks }}
    let fightOrFlightBuff = {{ pld.fight_or_flight_buff }}
    let requiescatBuff = {{ pld.requiescat_buff }}
    let requiescatStacks = {{ pld.requiescat_stacks }}

    let confetiorReady = {{ pld.confetior_ready }}
    let faithReady = {{ pld.blade_of_faith_ready }}
    let truthReady = {{ pld.blade_of_truth_ready }}
    let valorReady = {{ pld.blade_of_valor_ready }}

</script>
<script src="{{ url_for('static', filename='js/paladin/paladin.js') }}"></script>
<script src="{{ url_for('static', filename='js/paladin/gcd.js') }}"></script>




{% endblock %}
