{% extends 'base.html' %}

{% block title %} Gunbreaker {% endblock %}

{% block content %}

<div class="flex-container" style="display: flex; justify-content: space-around;">

    <div class="player" style="position: relative; top: 12px; left: 100px;">
        <div class="player" style="display: flex; justify-content: start">
            <img src="{{url_for('static', filename='images/gunbreaker/gunbreaker_icon.jpg') }}" width="30px" height="30px"
             style="position: relative; bottom: 2px;">
            <h5>Chadbreaker</h5>
        </div>

        <div class="progress" style="height: 14px; width: 300px;">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>

        <div class="buffs" style="display: flex; flex-direction:row-reverse;">
            <img class="buff-image" src="{{url_for('static', filename='images/gunbreaker/no_mercy.png') }}">
            <p class="buff-text">{{gnb.no_mercy_buff }}</p>
        </div>
    </div>

    <div class="main" style="margin: 44px;">
        <div class="gnb-gauge" style="display: flex; margin-bottom: 4px; justify-content: center;">

            <div class="progress one" style="height: 14px; width: 119px; position: relative; right: 7.5px;">
                <div id="gnb_cartridge_one_empty" class="progress-bar bg-light" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
                <div id="gnb_cartridge_one_full" class="progress-bar bg-dark" role="progressbar" style="width: 100%; border: 1px solid white;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>

            <div class="progress two" style="height: 14px; width: 118px;">
                <div id="gnb_cartridge_two_empty" class="progress-bar bg-light" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
                <div id="gnb_cartridge_two_full" class="progress-bar bg-dark" role="progressbar" style="width: 100%; border: 1px solid white;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>

            <div class="progress three" style="height: 14px; width: 118px; position: relative; left: 7.5px;">
                <div id="gnb_cartridge_three_empty" class="progress-bar bg-light" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
                <div id="gnb_cartridge_three_full" class="progress-bar bg-dark" role="progressbar" style="width: 100%; border: 1px solid white;" aria-valuenow="100" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>

        <div class="ogcd">
            <button class="btn btn-outline-dark" id="no-mercy">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/no_mercy.png') }}">
                <span class="gnb-cooldown-text" id="no_mercy_cooldown"></span>
            </button>

            <button class="btn btn-outline-dark" id="bloodfest">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bloodfest.png') }}">
                <span class="gnb-cooldown-text" id="bloodfest_cooldown"></span>
            </button>

            <button class="btn btn-outline-dark" id="blasting-zone">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/blasting_zone.png') }}">
                <span class="gnb-cooldown-text" id="blasting_zone_cooldown"></span>
            </button>

            <button class="btn btn-outline-dark" id="bow-shock">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bow_shock.png') }}">
                <span class="gnb-cooldown-text" id="bow_shock_cooldown"></span>

            </button>



            <button class="btn btn-outline-dark" id="sonic-break">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/sonic_break.png') }}">
                <span class="gnb-cooldown-text" id="sonic_break_cooldown"></span>
            </button>

            <button class="btn btn-outline-dark" id="rough-divide">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/rough_divide.png') }}">
                <span class="gnb-cooldown-text" id="rough_divide_cooldown"></span>
                <span class="stack-text" id="rough_divide_stacks"></span>
            </button>

        </div>

        <div class="gcd">
            <button class="btn btn-outline-dark" id="keen-edge">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/keen_edge.png')}}">
            </button>

            <button class="btn btn-outline-dark" id="brutal-shell">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/brutal_shell.png')}}">
            </button>

            <button class="btn btn-outline-dark" id="solid-barrel">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/solid_barrel.png')}}">
            </button>

            <button class="btn btn-outline-dark" id="burst-strike">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/burst_strike.png')}}">
            </button>

            <button class="btn btn-outline-dark" id="gnashing-fang">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/gnashing_fang.png')}}">
                <span class="gnb-cooldown-text" id="gnashing_fang_cooldown"></span>
            </button>

            <button class="btn btn-outline-dark" id="savage-claw">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/savage_claw.png') }}">
            </button>

            <button class="btn btn-outline-dark" id="wicked-talon">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/wicked_talon.png') }}">
            </button>

            <button class="btn btn-outline-dark" id="double-down">
                <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/double_down.png')}}">
                <span class="gnb-cooldown-text" id="double_down_cooldown"></span>
            </button>
        </div>

        <div class="continuation" style="text-align: center;">
            <button class="btn btn-outline-dark" id="jugular-rip">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/jugular_rip.png') }}">
            </button>

            <button class="btn btn-outline-dark" id="abdomen-tear">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/abdomen_tear.png') }}">
            </button>


            <button class="btn btn-outline-dark" id="eye-gouge">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/eye_gouge.png') }}">
            </button>

            <button class="btn btn-outline-dark" id="hypervelocity">
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/hypervelocity.png') }}">
            </button>

            <button class="btn btn-outline-dark" id="continuation" disabled>
                <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/continuation.png') }}">
            </button>
        </div>
</div>

    <div class="target" style="position: relative; top: 12px; right: 100px;">
        <div class="target" style="display: flex; justify-content: start; margin-left: 3px;">
            <img src="{{url_for('static', filename='images/misc/trial_icon.png') }}" width="30px" height="30px"
             style="position: relative; bottom: 2px; right: 1px;">
            <h5>Pandaemonium MF</h5>
        </div>
        <div class="progress" style="height: 14px; width: 300px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 350px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="gnb-debuffs">
            debuff placeholder
        </div>
    </div>
</div>


<div class="gunbreaker-reset" style="display: flex; justify-content: center;">
    <button class="btn btn-outline-dark" id="gunbreaker-reset">
        Reset!
    </button>
</div>
<hr>


<script>
    $(document).ready(function () {
        function updateComboDisplay(comboValue) {
            $("#combo").text("Combo: " + comboValue);
        }

        function updateCartridgeDisplay(cartridgeValue) {
            $("#cartridge").text("Cartridge: " + cartridgeValue);
        }

        function updateGnashingFangCooldownDisplay(gnashingFangCooldownValue) {
            var $cooldownText = $("#gnashing_fang_cooldown");

            if (gnashingFangCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(gnashingFangCooldownValue).show();
            }
        }

        function updateDoubleDownCooldownDisplay(doubleDownCooldownValue) {
            var $cooldownText = $("#double_down_cooldown");

            if (doubleDownCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(doubleDownCooldownValue).show();
            }
        }

        function updateSonicBreakCooldownDisplay(sonicBreakCooldownValue) {
            var $cooldownText = $("#sonic_break_cooldown");

            if (sonicBreakCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(sonicBreakCooldownValue).show();
            }
        }

        function updateBloodfestCooldownDisplay(bloodfestCooldownValue) {
            var $cooldownText = $("#bloodfest_cooldown");

            if (bloodfestCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(bloodfestCooldownValue).show();
            }
        }

        function updateBlastingZoneCooldownDisplay(blastingZoneCooldownValue) {
            var $cooldownText = $("#blasting_zone_cooldown");

            if (blastingZoneCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(blastingZoneCooldownValue).show();
            }
        }

        function updateBowShockCooldownDisplay(bowShockCooldownValue) {
            var $cooldownText = $("#bow_shock_cooldown");

            if (bowShockCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(bowShockCooldownValue).show();
            }
        }

        function updateNoMercyCooldownDisplay(noMercyCooldownValue) {
            var $cooldownText = $("#no_mercy_cooldown");

            if (noMercyCooldownValue === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(noMercyCooldownValue).show();
            }
        }

        function updateRoughDivideCooldownDisplay(roughDivideCooldown) {
            var $cooldownText = $("#rough_divide_cooldown");

            if (roughDivideCooldown === 0) {
                $cooldownText.hide();
            } else {
                $cooldownText.text(roughDivideCooldown).show();
            }
        }

        updateRoughDivideStacksDisplay( {{gnb.rough_divide_stacks }})

        function updateRoughDivideStacksDisplay(roughDivideStacks) {
            var $stackText = $("#rough_divide_stacks");

            if (roughDivideStacks === 0) {
                $stackText.hide();
            } else {
                $stackText.text(roughDivideStacks).show();
            }
        }

        function updateHypervelocityDisplay(readyToBlast) {
            $("#ready_to_blast").text("Hypervelocity: " + readyToBlast)
        }

        function updateJugularRipDisplay(readyToRip) {
            $("#ready_to_rip").text("Jugular Rip: " + readyToRip)
        }




        function updateBloodfestButtonState(bloodfestCooldown) {

        if (bloodfestCooldown != 0) {
            $("#disabled-bloodfest").prop("disabled", true);
            $("#bloodfest").prop("disabled", true);

        } else {
            $("#disabled-bloodfest").prop("disabled", false);
            $("#bloodfest").prop("disabled", false);
            }
        }


        function updateBlastingZoneButtonState(blastingZoneCooldown) {

        if (blastingZoneCooldown != 0) {
            $("#disabled-blasting-zone").prop("disabled", true);
            $("#blasting-zone").prop("disabled", true);

        } else {
            $("#disabled-blasting-zone").prop("disabled", false);
            $("#blasting-zone").prop("disabled", false);
            }
        }

        function updateBowShockButtonState(bowShockCooldown) {

        if (bowShockCooldown != 0) {
            $("#disabled-bow-shock").prop("disabled", true);
            $("#bow-shock").prop("disabled", true);

        } else {
            $("#disabled-bow-shock").prop("disabled", false);
            $("#bow-shock").prop("disabled", false);
            }
        }

        function updateNoMercyButtonState(noMercyCooldown) {

        if (noMercyCooldown != 0) {
            $("#disabled-no-mercy").prop("disabled", true);
            $("#no-mercy").prop("disabled", true);

        } else {
            $("#disabled-no-mercy").prop("disabled", false);
            $("#no-mercy").prop("disabled", false);
            }
        }

        function updateSonicBreakButtonState(sonicBreakCooldown) {

        if (sonicBreakCooldown != 0) {
            $("#disabled-sonic-break").prop("disabled", true);
            $("#sonic-break").prop("disabled", true);

        } else {
            $("#disabled-sonic-break").prop("disabled", false);
            $("#sonic-break").prop("disabled", false);
            }
        }

        updateBurstStrikeButtonState({{ gnb.cartridge }});

        function updateBurstStrikeButtonState(cartridgeValue) {

        if (cartridgeValue === 0) {
            $("#disabled-burst-strike").prop("disabled", true);
            $("#burst-strike").prop("disabled", true);

        } else {
            $("#disabled-burst-strike").prop("disabled", false);
            $("#burst-strike").prop("disabled", false);

        }
    }

        function updateRoughDivideButton(RoughDivideStacks) {

        if (RoughDivideStacks > 0) {
            $("#disabled-rough-divide").prop("disabled", false);
            $("#rough-divide").prop("disabled", false);

        } else {
            $("#disabled-rough-divide").prop("disabled", true);
            $("#rough-divide").prop("disabled", true);
            }
        }


        updateDoubleDownButtonState( {{gnb.double_down_cooldown}}, {{ gnb.cartridge }} );

        function updateDoubleDownButtonState(doubleDownCooldown, cartridgeValue ) {

        if (doubleDownCooldown === 0 && cartridgeValue >= 2 ) {
            $("#disabled-double-down").prop("disabled", false);
            $("#double-down").prop("disabled", false);

        } else {
            $("#disabled-double-down").prop("disabled", true);
            $("#double-down").prop("disabled", true);
            }
        }


        updateGnashingFangButtonState( {{gnb.gnashing_fang_cooldown}}, {{gnb.cartridge }} );

        function updateGnashingFangButtonState(gnashingFangCooldown, cartridgeValue ) {

        if (gnashingFangCooldown === 0 && cartridgeValue >= 1 ) {
            $("#disabled-gnashing-fang").prop("disabled", false);
            $("#gnashing-fang").prop("disabled", false);

        } else {
            $("#disabled-gnashing-fang").prop("disabled", true);
            $("#gnashing-fang").prop("disabled", true);
            }
        }

        updateGnashingFangVisibility();

        function updateGnashingFangVisibility(savageClawReady, wickedTalonReady) {

            if (savageClawReady || wickedTalonReady) {
                $("#gnashing-fang").css("display", "none");
            } else {
                $("#gnashing-fang").css("display", "inline-block");
            }
        }


        updateHypervelocityButtonState();

        function updateHypervelocityButtonState(readyToBlast) {

            if (!readyToBlast) {
                $("#hypervelocity").css("display", "none");
            } else {
                $("#hypervelocity").css("display", "inline-block");
            }
        }

        updateJugularRipButtonState();

        function updateJugularRipButtonState(readyToRip) {

            if (!readyToRip) {
                $("#jugular-rip").css("display", "none");
            } else {
                $("#jugular-rip").css("display", "inline-block");
            }
        }

        updateSavageClawButtonState();

        function updateSavageClawButtonState(savageClawReady) {

            if (!savageClawReady) {
                $("#savage-claw").css("display", "none");
            } else {
                $("#savage-claw").css("display", "inline-block");
            }
        }

        updateAbdomenTearButtonState();

        function updateAbdomenTearButtonState(readyToTear) {

            if (!readyToTear) {
                $("#abdomen-tear").css("display", "none");
            } else {
                $("#abdomen-tear").css("display", "inline-block");
            }
        }

        updateWickedTalonButtonState();

        function updateWickedTalonButtonState(wickedTalonReady) {

            if (!wickedTalonReady) {
                $("#wicked-talon").css("display", "none");
            } else {
                $("#wicked-talon").css("display", "inline-block");
            }
        }

        updateEyeGougeButtonState();

        function updateEyeGougeButtonState(readyToGouge) {

            if (!readyToGouge) {
                $("#eye-gouge").css("display", "none");
            } else {
                $("#eye-gouge").css("display", "inline-block");
            }
        }

        updateContinuationButtonState();

        function updateContinuationButtonState(readyToBlast, readyToRip, readyToTear, readyToGouge) {

            if (readyToBlast || readyToRip || readyToTear || readyToGouge) {
                $("#continuation").css("display", "none");
            } else {
                $("#continuation").css("display", "inline-block");
            }
        }

        function updateCartridgeOne(cartridgeValue) {
            var $cartridgeOneEmpty = $("#gnb_cartridge_one_empty");
            var $cartridgeOneFull = $("#gnb_cartridge_one_full");

            if (cartridgeValue > 0) {
                $cartridgeOneEmpty.hide();
                $cartridgeOneFull.show();
            } else {
                $cartridgeOneEmpty.show();
                $cartridgeOneFull.hide();
            }
        }

        function updateCartridgeTwo(cartridgeValue) {
            var $cartridgeTwoEmpty = $("#gnb_cartridge_two_empty");
            var $cartridgeTwoFull = $("#gnb_cartridge_two_full");

            if (cartridgeValue > 1) {
                $cartridgeTwoEmpty.hide();
                $cartridgeTwoFull.show();
            } else {
                $cartridgeTwoEmpty.show();
                $cartridgeTwoFull.hide();
            }
        }

        function updateCartridgeThree(cartridgeValue) {
            var $cartridgeThreeEmpty = $("#gnb_cartridge_three_empty");
            var $cartridgeThreeFull = $("#gnb_cartridge_three_full");

            if (cartridgeValue > 2) {
                $cartridgeThreeEmpty.hide();
                $cartridgeThreeFull.show();
            } else {
                $cartridgeThreeEmpty.show();
                $cartridgeThreeFull.hide();
            }
        }

        updateCartridgeOne( {{gnb.cartridge}} )
        updateCartridgeTwo( {{gnb.cartridge}} )
        updateCartridgeThree( {{gnb.cartridge}} )






        $("#keen-edge").click(function () {
            $.ajax({
                type: "POST",
                url: "/keen_edge",
                success: function (response) {
                    updateComboDisplay(response.combo);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);

                    updateJugularRipButtonState(response.ready_to_rip);
                    updateAbdomenTearButtonState(response.ready_to_rip);
                    updateEyeGougeButtonState(response.ready_to_rip);
                    updateSavageClawButtonState(response.savage_claw_ready);
                    updateWickedTalonButtonState(response.wicked_talon_ready);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

        //adding combo-wombo
        //adding combo-wombo
                    $("#brutal-shell").addClass("shining-border");

                    if (response.combo === 1) {
                        $("#solid-barrel").removeClass("shining-border");
                    }

                }
            });
        });



        $("#brutal-shell").click(function () {
            $.ajax({
                type: "POST",
                url: "/brutal_shell",
                success: function (response) {
                    updateComboDisplay(response.combo);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);

                    updateJugularRipButtonState(response.ready_to_rip);
                    updateAbdomenTearButtonState(response.ready_to_rip);
                    updateEyeGougeButtonState(response.ready_to_rip);
                    updateSavageClawButtonState(response.savage_claw_ready);
                    updateWickedTalonButtonState(response.wicked_talon_ready);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                    if (response.combo === 2) {
                        $("#solid-barrel").addClass("shining-border");
                        $("#brutal-shell").removeClass("shining-border");
                    } else {
                        $("#brutal-shell").removeClass("shining-border");
                        $("#solid-barrel").removeClass("shining-border");
                    }

                }
            });
        });

        $("#solid-barrel").click(function () {
            $.ajax({
                type: "POST",
                url: "/solid_barrel",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    $("p#cartridge").text("Cartridge: " + response.cartridge);

                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);

                    updateJugularRipButtonState(response.ready_to_rip);
                    updateAbdomenTearButtonState(response.ready_to_rip);
                    updateEyeGougeButtonState(response.ready_to_rip);
                    updateSavageClawButtonState(response.savage_claw_ready);
                    updateWickedTalonButtonState(response.wicked_talon_ready);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                    $("#solid-barrel").removeClass("shining-border");

                }
            });
        });

        $("#burst-strike").click(function () {
            $.ajax({
                type: "POST",
                url: "/burst_strike",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast && !response.ready_to_rip && !response.ready_to_tear && !response.ready_to_gouge);

                    updateJugularRipButtonState(response.ready_to_rip);
                    updateAbdomenTearButtonState(response.ready_to_rip);
                    updateEyeGougeButtonState(response.ready_to_rip);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);
                }
            });
        });

        $("#gnashing-fang").click(function () {
            $.ajax({
                type: "POST",
                url: "/gnashing_fang",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown)
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    $("p#ready_to_rip").text("Ready To Rip? " + response.ready_to_rip);
                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);

                    updateSavageClawButtonState(response.savage_claw_ready);

                    updateJugularRipButtonState(response.ready_to_rip);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge)
;
                }
            });
        });

        $("#double-down").click(function () {
            $.ajax({
                type: "POST",
                url: "/double_down",
                success: function (response) {
                    updateCartridgeDisplay(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBurstStrikeButtonState(response.cartridge);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);

                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });


        $("#sonic-break").click(function () {
            $.ajax({
                type: "POST",
                url: "/sonic_break",
                success: function (response) {
                    updateCartridgeDisplay(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    $("p#cartridge").text("Cartridge: " + response.cartridge);

                    updateBurstStrikeButtonState(response.cartridge);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);


                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                }
            });
        });


        $("#bloodfest").click(function() {
            $.ajax({
                type: "POST",
                url: "/bloodfest",
                success: function (response) {
                    updateBurstStrikeButtonState(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                }
            });
        });

        $("#blasting-zone").click(function() {
            $.ajax({
                type: "POST",
                url: "/blasting_zone",
                success: function (response) {
                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);


                }
            });
        });

        $("#bow-shock").click(function() {
            $.ajax({
                type: "POST",
                url: "/bow_shock",
                success: function (response) {
                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                }
            });
        });

        $("#no-mercy").click(function() {
            $.ajax({
                type: "POST",
                url: "/no_mercy",
                success: function (response) {
                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                }
            });
        });

        $("#rough-divide").click(function() {
            $.ajax({
                type: "POST",
                url: "/rough_divide",
                success: function (response) {
                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                }
            });
        });

        $("#hypervelocity").click(function() {
            $.ajax({
                type: "POST",
                url: "/hypervelocity",
                success: function (response) {
                    updateHypervelocityDisplay(response.ready_to_blast);
                    updateHypervelocityButtonState(response.ready_to_blast);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);
                }
            });
        });

        $("#jugular-rip").click(function() {
            $.ajax({
                type: "POST",
                url: "/jugular_rip",
                success: function (response) {
                    updateJugularRipDisplay(response.ready_to_rip);
                    updateJugularRipButtonState(response.ready_to_rip);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);
                }
            });
        });

        $("#savage-claw").click(function() {
            $.ajax({
                type: "POST",
                url: "/savage_claw",
                success: function (response) {
                    updateJugularRipButtonState(response.ready_to_rip);

                    updateSavageClawButtonState(response.savage_claw_ready);
                    updateAbdomenTearButtonState(response.ready_to_tear);

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityButtonState(response.ready_to_blast && !response.ready_to_rip && !response.ready_to_tear && !response.ready_to_gouge);


                    updateWickedTalonButtonState(response.wicked_talon_ready);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                }
            });
        });

        $("#wicked-talon").click(function() {
            $.ajax({
                type: "POST",
                url: "/wicked_talon",
                success: function (response) {
                    updateWickedTalonButtonState(response.wicked_talon_ready);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateAbdomenTearButtonState(response.ready_to_tear);

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateHypervelocityButtonState(response.ready_to_blast && !response.ready_to_rip && !response.ready_to_tear && !response.ready_to_gouge);


                    updateEyeGougeButtonState(response.ready_to_gouge);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);

                    updateGnashingFangVisibility(response.savage_claw_ready, response.wicked_talon_ready);

                }
            });
        });

        $("#abdomen-tear").click(function() {
            $.ajax({
                type: "POST",
                url: "/abdomen_tear",
                success: function (response) {
                    updateAbdomenTearButtonState(response.ready_to_tear);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);
                }
            });
        });

        $("#eye-gouge").click(function() {
            $.ajax({
                type: "POST",
                url: "/eye_gouge",
                success: function (response) {
                    updateEyeGougeButtonState(response.ready_to_gouge);
                    updateContinuationButtonState(response.ready_to_blast, response.ready_to_rip,
                                                  response.ready_to_tear, response.ready_to_gouge);
                }
            });
        });

        $("#gunbreaker-reset").click(function() {
            $.ajax({
                type: "POST",
                url: "/reset_gunbreaker",
                success: function(response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);

                    updateCartridgeOne(response.cartridge);
                    updateCartridgeTwo(response.cartridge);
                    updateCartridgeThree(response.cartridge);

                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateGnashingFangButtonState(response.gnashing_fang_cooldown, response.cartridge)

                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateDoubleDownButtonState(response.double_down_cooldown, response.cartridge);

                    updateSonicBreakCooldownDisplay(response.sonic_break_cooldown);
                    updateSonicBreakButtonState(response.sonic_break_cooldown);

                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);

                    updateBlastingZoneCooldownDisplay(response.blasting_zone_cooldown);
                    updateBlastingZoneButtonState(response.blasting_zone_cooldown);

                    updateBowShockCooldownDisplay(response.bow_shock_cooldown);
                    updateBowShockButtonState(response.bow_shock_cooldown);

                    updateNoMercyCooldownDisplay(response.no_mercy_cooldown);
                    updateNoMercyButtonState(response.no_mercy_cooldown);

                    updateRoughDivideCooldownDisplay(response.rough_divide_cooldown);
                    updateRoughDivideStacksDisplay(response.rough_divide_stacks);
                    updateRoughDivideButton(response.rough_divide_stacks);

                    updateJugularRipButtonState(false);
                    updateAbdomenTearButtonState(false);
                    updateEyeGougeButtonState(false);
                    updateSavageClawButtonState(false);
                    updateWickedTalonButtonState(false);

                    updateGnashingFangVisibility(false, false);
                    updateHypervelocityButtonState(false)

                    updateContinuationButtonState(false, false, false, false);

                    $("#brutal-shell").removeClass("shining-border");
                    $("#solid-barrel").removeClass("shining-border");

                },

            });
        });


    });


</script>
{% endblock %}