{% extends 'base.html' %}

{% block title %} Gunbreaker {% endblock %}



{% block content %}

<h1>Gunbreaker</h1>
<div class="container" style="display: flex; gap: 100px;">
    <div class="left">
        <p id="combo">Combo: {{ gnb.combo }}</p>
        <p id="cartridge">Cartridge: {{ gnb.cartridge }}</p>
        <p id="gnashing_fang_cooldown">Gnashing Fang: {{gnb.gnashing_fang_cooldown }} s</p>
        <p id="ready_to_rip">Ready To Rip? </p>
        <p id="ready_to_tear">Ready To Tear? </p>
        <p id="ready_to_gouge">Ready To Gouge? </p>
    </div>
    <div class="right">
        <p id="double_down_cooldown">Double Down</p>
        <p id="bloodfest_cooldown">Bloodfest</p>
        <p id="blasting_zone_cooldown">Blasting Zone</p>
        <p id="bow_shock_cooldown">Bow Shock</p>
        <p id="rough_divide_cooldown">No Mercy</p>
        <p id="sonic_break_cooldown">Sonic Break</p>

    </div>

</div>


<div>
    <button class="btn btn-outline-dark" id="keen-edge">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/keen_edge.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="brutal-shell">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/brutal_shell.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="solid-barrel">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/solid_barrel.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="burst-strike">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/burst_strike.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="gnashing-fang">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/gnashing_fang.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="double-down">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/double_down.png')}}">
    </button>
</div>

<div>
    <button class="btn btn-outline-dark" id="jugular-rip">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/jugular_rip.png') }}">
    </button>
</div>

<div>
    <button class="btn btn-outline-dark" id="bloodfest">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bloodfest.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="blasting-zone">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/blasting_zone.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="bow-shock">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bow_shock.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="no-mercy">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/no_mercy.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="sonic-break">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/sonic_break.png') }}">
    </button>

    <button class="btn btn-outline-dark" id="rough-divide">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/rough_divide.png') }}">
    </button>

</div>
<br>
<br>
<br>
<div>
    <form action="{{url_for('gunbreaker_reset') }}" method="POST">
        <button class="btn btn-outline-dark">
            Reset!
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function updateComboDisplay(comboValue) {
            $("#combo").text("Combo: " + comboValue);
        }

        function updateCartridgeDisplay(cartridgeValue) {
            $("#cartridge").text("Cartridge: " + cartridgeValue);
        }

        function updateGnashingFangCooldownDisplay(gnashingFangCooldownValue) {
            $("#gnashing_fang_cooldown").text("Gnashing Fang CD: " + gnashingFangCooldownValue);
        }

        function updateDoubleDownCooldownDisplay(doubleDownCooldownValue) {
            $("#double_down_cooldown").text("Double Down CD: " + doubleDownCooldownValue)
        }

        function updateBloodfestCooldownDisplay(bloodfestCooldownValue) {
            $("#bloodfest_cooldown").text("Bloodfest CD: " + bloodfestCooldownValue)
        }

        updateBloodfestButtonState( {{gnb.bloodfest_cooldown }});

        function updateBloodfestButtonState(bloodfestCooldown) {

        if (bloodfestCooldown != 0) {
            $("#disabled-bloodfest").prop("disabled", true);
            $("#bloodfest").prop("disabled", true);

        } else {
            $("#disabled-bloodfest").prop("disabled", false);
            $("#bloodfest").prop("disabled", false);
            }
        }



        updateBurstStrikeButtonState({{ gnb.cartridge }});

        function updateBurstStrikeButtonState(cartridgeValue) {

        if (cartridgeValue === 0) {
            $("#disabled-burst-strike").prop("disabled", true);
            $("#burst-strike").prop("disabled", true);

        } else {
            $("#disabled-burst-strike").prop("disabled", false);
            $("#burst-strike").prop("disabled", false);

        }


    }


        $("#keen-edge").click(function () {
            $.ajax({
                type: "POST",
                url: "/keen_edge",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                }
            });
        });



        $("#brutal-shell").click(function () {
            $.ajax({
                type: "POST",
                url: "/brutal_shell",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                }
            });
        });

        $("#solid-barrel").click(function () {
            $.ajax({
                type: "POST",
                url: "/solid_barrel",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);

                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                }
            });
        });

        $("#burst-strike").click(function () {
            $.ajax({
                type: "POST",
                url: "/burst_strike",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                }
            });
        });

        $("#gnashing-fang").click(function () {
            $.ajax({
                type: "POST",
                url: "/gnashing_fang",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown)
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    $("p#ready_to_rip").text("Ready To Rip? " + response.ready_to_rip);
                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                }
            });
        });

        $("#double-down").click(function () {
            $.ajax({
                type: "POST",
                url: "/double_down",
                success: function (response) {
                    updateCartridgeDisplay(response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateDoubleDownCooldownDisplay(response.double_down_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    updateBurstStrikeButtonState(response.cartridge);

                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });


        $("#bloodfest").click(function() {
            $.ajax({
                type: "POST",
                url: "/bloodfest",
                success: function (response) {
                    updateBloodfestCooldownDisplay(response.bloodfest_cooldown);
                    updateBloodfestButtonState(response.bloodfest_cooldown);
                },
            });
        });





    });
</script>


{% endblock %}

