{% extends 'base.html' %}

{% block title %} Gunbreaker {% endblock %}



{% block content %}

<h1>Gunbreaker</h1>

<p id="combo">Combo: {{ gnb.combo }}</p>
<p id="cartridge">Cartridge: {{ gnb.cartridge }}</p>
<p id="gnashing_fang_cooldown">Gnashing Fang</p>
<p id="ready_to_rip">Ready To Rip?</p>

<div>
    <button class="btn btn-outline-dark" id="keen-edge">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/keen_edge.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="brutal-shell">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/brutal_shell.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="solid-barrel">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/solid_barrel.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="burst-strike">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/burst_strike.png')}}">
    </button>

    <button class="btn btn-outline-dark" id="gnashing-fang">
        <img class="gnb-action" src="{{url_for('static', filename='images/gunbreaker/gnashing_fang.png')}}">
    </button>
</div>

<div>
    <button class="btn btn-outline-dark" id="jugular-rip">
        <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/jugular_rip.png') }}">
    </button>
</div>

<div>
    <form action="{{url_for('gunbreaker_reset') }}" method="POST">
        <button class="btn btn-outline-dark">
            Reset!
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function updateComboDisplay(comboValue) {
            $("#combo").text("Combo: " + comboValue);
        }

        function updateCartridgeDisplay(cartridgeValue) {
            $("#cartridge").text("Cartridge: " + cartridgeValue);
        }

        function updateGnashingFangCooldownDisplay(gnashingFangCooldownValue) {
            $("#gnashing_fang_cooldown").text("Gnashing Fang CD: " + gnashingFangCooldownValue);
        }

        updateBurstStrikeButtonState({{ gnb.cartridge }});

        function updateBurstStrikeButtonState(cartridgeValue) {

        if (cartridgeValue === 0) {
            $("#disabled-burst-strike").prop("disabled", true);
            $("#burst-strike").prop("disabled", true);

        } else {
            $("#disabled-burst-strike").prop("disabled", false);
            $("#burst-strike").prop("disabled", false);

        }


    }


        $("#keen-edge").click(function () {
            $.ajax({
                type: "POST",
                url: "/keen_edge",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                }
            });
        });



        $("#brutal-shell").click(function () {
            $.ajax({
                type: "POST",
                url: "/brutal_shell",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                }
            });
        });

        $("#solid-barrel").click(function () {
            $.ajax({
                type: "POST",
                url: "/solid_barrel",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    updateBurstStrikeButtonState(response.cartridge);
                }
            });
        });

        $("#burst-strike").click(function () {
            $.ajax({
                type: "POST",
                url: "/burst_strike",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown);
                    updateBurstStrikeButtonState(response.cartridge);
                }
            });
        });

        $("#gnashing-fang").click(function () {
            $.ajax({
                type: "POST",
                url: "/gnashing_fang",
                success: function (response) {
                    updateComboDisplay(response.combo);
                    updateCartridgeDisplay(response.cartridge);
                    updateGnashingFangCooldownDisplay(response.gnashing_fang_cooldown)
                    $("p#cartridge").text("Cartridge: " + response.cartridge);
                    $("p#ready_to_rip").text("Ready To Rip? " + response.ready_to_rip);
                    updateBurstStrikeButtonState(response.cartridge);
                }
            });
        });

    });
</script>


{% endblock %}

