{% extends 'base.html' %}

{% block title %} Gunbreaker {% endblock %}



{% block content %}

<!-- 
<div class="flex-container" style="display: flex; justify-content: space-around;">
    <div class="player">
        <p>Player</p>
        <div class="progress" style="height: 14px; width: 350px;">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="main" style="text-align: center;">

        <!-- GAUGE -->
        <div class="gauge">
            <p></p>
            <p></p>
        </div>

        <div class="gnb-secondary" style="display: flex;">
            <!-- NO MERCY -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/no_mercy.png') }}">
                </button>
            </form>

            <!-- BOW SHOCK -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bow_shock.png') }}">
                </button>
            </form>

            <!-- BLASTING ZONE -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/blasting_zone.png') }}">
                </button>
            </form>

            <!-- BLOOD FEST -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/bloodfest.png') }}">
                </button>
            </form>

            <!-- SONIC BREAK -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/sonic_break.png') }}">
                </button>
            </form>

            <!-- ROUGH DIVIDE -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/rough_divide.png') }}">
                </button>
            </form>

        </div>

        <div class="gnb-primary" style="display: flex;">
            <!-- KEEN EDGE -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/keen_edge.png') }}">
                </button>
            </form>

            <!-- BRUTAL SHELL -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/brutal_shell.png') }}">
                </button>
            </form>

            <!-- SOLID BARREL -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/solid_barrel.png') }}">
                </button>
            </form>

        <!-- GNASHING FANG COMBO -->
            <!-- GNASHING FANG -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/gnashing_fang.png') }}">
                </button>
            </form>

            <!-- SAVAGE CLAW -->

            <!-- WICKED TALON -->

            <!-- BURST STRIKE -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/burst_strike.png') }}">
                </button>
            </form>

            <!-- DOUBLE DOWN -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning">
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/double_down.png') }}">
                </button>
            </form>

        </div>

        <div class="gnb-continuation" style="display: flex; justify-content: center;">

            <!-- CONTINUATION -->
            <form action="" method="POST">
                <button type="submit" class="btn btn-outline-warning" disabled>
                    <img class="gnb-action" src="{{ url_for('static', filename='images/gunbreaker/continuation.png') }}">
                </button>
            </form>

        </div>
    </div>

    <div class="target">
        <p>Target</p>
        <div class="progress" style="height: 14px; width: 350px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 350px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>




{% endblock %}